.btn-default {
  background-color: rgb(244, 244, 244);
}

.liked,
.followed {
  background-color: rgb(78, 178, 235);
}

.user-photo {
  width: 180px;
  border-radius: 50%;
  border: 5px solid #2b2b2b;
  clip-path: circle(50% at center);
  object-fit: cover;

  img {
    width: 100%;
    clip-path: circle(50% at center);
  }
}

.friends {
  margin-top: 2rem;
}

.friends-list {
  display: flex;
  gap: 1rem;
  padding: 0;

  li {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
  }
}
